<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.examples.library.databinding.subform">
      <form
            class="org.eclipse.emf.examples.library.databinding.writer.WriterForm"
            id="org.eclipse.emf.examples.library.databinding.form2"
            weight="1.0">
      </form>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.examples.library.databinding.writer.new"
            name="Create new writer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.examples.library.databinding.writer.handler.CreateNewWriterHandler"
            commandId="org.eclipse.emf.examples.library.databinding.writer.new">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.examples.library.databinding.libraryeditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.examples.library.databinding.writer?after=additions">
         <command
               commandId="org.eclipse.emf.examples.library.databinding.writer.new"
               label="New Writer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Writer context"
            id="org.eclipse.emf.examples.library.databinding.writer.context"
            name="Writer context"
            parentId="org.eclipse.emf.examples.library.databinding.context">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.examples.library.databinding.writer.new"
            contextId="org.eclipse.emf.examples.library.databinding.writer.context"
            schemeId="org.eclipse.emf.library.databinding.app.scheme"
            sequence="M1+N">
      </key>
   </extension>

</plugin>
