<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.emf.cdo.server.app"
            name="LibraryCDOServer">
         <property
               name="appName"
               value="LibraryCDOServer">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.emf.example.library.cdo.server.LibraryServerApplication">
         </run>
      </application>
   </extension>

</plugin>
