<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="subform" name="subform" schema="schema/subform.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.examples.library.databinding.internal.handler.OpenLibraryEditorHandler"
            id="org.eclipse.emf.examples.library.databinding.openlibrary"
            name="Open library form">
         <commandParameter
               id="org.eclipse.emf.examples.library.databinding.persistenceid"
               name="Persistence-Id"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.emf.examples.library.databinding.library.new"
            name="Create a new library">
      </command>
      <command
            id="org.eclipse.emf.examples.library.databinding.stock.new"
            name="Create a new stock item">
         <commandParameter
               id="org.eclipse.emf.examples.library.databinding.stock.type"
               name="Stock Item type"
               optional="false"
               values="org.eclipse.emf.examples.library.databinding.internal.handler.StockItemValues">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.emf.examples.library.databinding.stock.edititem"
            name="Edit stock item">
      </command>
      <command
            id="org.eclipse.emf.examples.library.databinding.writer.new"
            name="Create new writer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.examples.library.databinding.editor.LibraryEditor"
            default="false"
            id="org.eclipse.emf.examples.library.databinding.libraryeditor"
            name="Library Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.emf.examples.library.databinding.view.LibraryExplorerViewPart"
            id="org.eclipse.emf.examples.library.databinding.libraryexplorer"
            name="Library Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.emf.examples.library.databinding.internal.LibraryElementFactory"
            id="org.eclipse.emf.examples.library.databinding.libraryfactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.examples.library.databinding.internal.handler.CreateNewLibraryHandler"
            commandId="org.eclipse.emf.examples.library.databinding.library.new">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.examples.library.databinding.libraryeditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.examples.library.databinding.internal.handler.CreateNewStockItemHandler"
            commandId="org.eclipse.emf.examples.library.databinding.stock.new">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.examples.library.databinding.libraryeditor">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                  </with>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.examples.library.databinding.internal.handler.EditStockItemHandler"
            commandId="org.eclipse.emf.examples.library.databinding.stock.edititem">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.examples.library.databinding.libraryeditor">
               </equals>
               <and>
                  <with
                        variable="selectedStockItemName">
                     <count
                           value="1">
                     </count>
                  </with>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.examples.library.databinding.internal.handler.CreateNewWriterHandler"
            commandId="org.eclipse.emf.examples.library.databinding.writer.new">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.emf.examples.library.databinding.libraryeditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.examples.library.databinding.libraryeditor?after=additions">
         <command
               commandId="org.eclipse.emf.examples.library.databinding.library.new"
               label="New Library"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.examples.library.databinding.libraryeditor.stock?after=additions">
         <command
               commandId="org.eclipse.emf.examples.library.databinding.stock.new"
               label="New Book"
               style="push">
            <parameter
                  name="org.eclipse.emf.examples.library.databinding.stock.type"
                  value="book">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.emf.examples.library.databinding.stock.new"
               label="New Book On Tape"
               style="push">
            <parameter
                  name="org.eclipse.emf.examples.library.databinding.stock.type"
                  value="tapebook">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.emf.examples.library.databinding.stock.new"
               label="New Video"
               style="push">
            <parameter
                  name="org.eclipse.emf.examples.library.databinding.stock.type"
                  value="video">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.emf.examples.library.databinding.stock.edititem"
               label="Edit Book"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.examples.extlibrary.Book">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.examples.library.databinding.stock.edititem"
               label="Edit Book On Tape"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.examples.extlibrary.BookOnTape">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.examples.library.databinding.stock.edititem"
               label="Edit Video"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.examples.extlibrary.VideoCassette">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.examples.library.databinding.libraryeditor.writer?after=additions">
         <command
               commandId="org.eclipse.emf.examples.library.databinding.writer.new"
               label="New Writer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.emf.examples.library.databinding.internal.source.SourceProvider">
         <variable
               name="selectedStockItemName"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
