<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.emf.library.databinding.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.emf.library.databinding.app.Perspective"
            id="org.eclipse.emf.library.databinding.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="The keyboard scheme for the Library RCP"
            id="org.eclipse.emf.library.databinding.app.scheme"
            name="Library Scheme">
      </scheme>
      <key
            commandId="org.eclipse.ui.edit.undo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.emf.library.databinding.app.scheme"
            sequence="M1+Z">
      </key>
      <key
            commandId="org.eclipse.ui.edit.redo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.emf.library.databinding.app.scheme"
            sequence="M1+Y">
      </key>
   </extension>

</plugin>
