<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.examples.library.databinding.subform">
      <form
            class="org.eclipse.emf.examples.library.databinding.stock.StockForm"
            id="org.eclipse.emf.examples.library.databinding.stock">
      </form>
   </extension>

</plugin>
